.company_model {
  border: 1px solid var(--black);
  margin-left: 18%;
  margin-top: 14px;
  width: 57%;
  padding-left: 2%;
  padding-bottom: 1.6%;
}

.close {
  display: flex;
}

.close_btn {
  margin-left: 436px;
    margin-top: 3px;
    font-size: 21px;
    cursor: pointer;
    color: var(--grey);
}

.company_url {
  display: flex;
  text-align: center;
  margin-bottom: 4px;
}

.ieicon {
  font-size: 25px;
  color: var(--grey);
}

.website_url {
  color: var(--black);
  text-decoration: none;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 15px;
}
