.joinForm {
    width: 350px;
    margin: 100px auto 70px;
}
.joinwrap>input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    margin-top: -1px;
    border-width: 1px;
    border: 1px solid #9b9b9b;
}
.joinwrap>input::after {
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
    content: '';
}
.joinwrap>input:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.joinwrap>input:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.joinwrap {
    margin: 20px 0;
    position: relative;
}
.joinChkL {
    box-sizing: border-box;
    line-height: 40px;
    margin: 20px 0;
    color: #9b9b9b;
    font-size: 12px;
    padding-left: 20px;
    cursor: pointer;
}
.joinChkL>input {
    position: relative;
    top: 2px;
}
.joinChk {
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    text-align: left;
}
.joinChkT {
    margin-left: 10px;
}
.authChk {
    position: relative;
    top: -73px;
    right: -245px;
    width: 100px;
    height: 30px;
    border: 1px solid #14B8FF;
    color: #14B8FF;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.checkSMS {
    position: relative;
    top: -35px;
    right: -145px;
    width: 100px;
    height: 30px;
    border: 1px solid #14B8FF;
    color: #14B8FF;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.joinBtn {
    width: 100%;
    height: 40px;
    background-color: #14B8FF;
    color: white;
    border: none;
    cursor: pointer;
}
.joinTitle {
    font-weight: bold;
}
.joinChkP {
    margin: 10px 0;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    height: 70px;
    padding: 10px;
    overflow-y: scroll;
    font-size: 13px;
    text-align: left;
    color: #9b9b9b;
    overflow: hidden;
}
.joinChkP::-webkit-scrollbar {
    width: 10px;
}
.joinChkP::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #14B8FF; /* 스크롤바의 색상 */

    border-radius: 10px;
}

.joinChkP::-webkit-scrollbar-track {
    /*background: white;  !*스크롤바 뒷 배경 색상*!*/
}
.filsu {
    color: #14B8FF;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */
    color:transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:transparent;
}
.useridChk {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid #14B8FF;
    color: #14B8FF;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #fff inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }