.container {
    width: 1080px;
    margin: 0 auto;

}
.content {
    margin: 30px 0 100px;
}
.content-title {
    margin: 20px;
    font-weight: bold;
}
.content-item-list {
    width: 300px;
    height: 350px;
    border: 1px solid #eaebed;
}
.content-item-list-link {
    display: inline-block;
}
.content-item-img {
    width: 280px;
    height: 150px;
    margin: 10px;
}
.prevNav, .nextNav {
    color: #14B8FF;
    top: 150px;
    position: absolute;
    font-size: 20px;
    z-index: 5;
}
.prevNav {
}
.nextNav {
    right: 0;
}
.content-item {
    padding: 10px;
}
.fdrate {
    color: #14B8FF;
    font-weight: bold;
}
.fdprice {
    margin-left: 5px;
    color: #9b9b9b;
}
.dday {
    float: right;
    color: #9b9b9b;
}
.proN {
    padding: 10px 0;
    height: 50px;
}
.corP {
    color: #9b9b9b;
    padding-bottom: 10px;
    font-size: 12px;
}
.fundGo {
    text-align: center;
    color: #9b9b9b;
    padding: 20px 0;
}
.Commingsoon {
    color: #14B8FF;
}