.funding_people {
  width: 50%;
}

.funding_btn {
  margin-top: 1%;
  width: 40%;
}

.proj_good_share {
  margin-left: -3%;
  display: flex;
  width: 50%;
}

.proj_good {
  margin-top: 2%;
  margin-left: 8%;
  width: 44%;
  background-color: var(--white);
  border: 1px solid #000;
  font-size: 12px;
  height: 25px;
  border-radius: 5px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.proj_good:hover {
  border: 1px solid #14b8ff;
  color: #14b8ff;
}

.fund_proj_share {
  margin-top: 2%;
  width: 31%;
  margin-left: -7%;
  background-color: var(--white);
  border: 1px solid #000;
  font-size: 12px;
  height: 25px;
  border-radius: 5px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.menu {
  margin-top: 3%;
  margin-left: 6%;
}

.fund_story,
.fund_contact,
.fund_guide {
  color: var(--black);
  text-decoration: none;
}

.active {
  color: var(--main-color);
}

.fund_story:hover {
  color: var(--main-color);
}

.fund_contact:hover {
  color: var(--main-color);
}

.fund_guide:hover {
  color: var(--main-color);
}

.fund_story_content {
  color: var(--main-color);
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 15px;
  margin-left: 15%;
}

.fund_story_content_text {
  margin-top: 1.5%;
}

.con_input {
  margin-top: 3%;
  width: 84.5%;
  height: 73px;
  border: 1px solid var(--grey);
  resize: none;
}

.fund_submit {
  margin-top: 1%;
  margin-left: 75%;
  margin-right: 0.4%;
  width: 10%;
  height: 25px;
  border: 1px solid var(--main-color);
  justify-content: center;
  background-color: var(--white);
  margin-bottom: 5%;
  transition: all 0.4s linear;
  cursor: pointer;
}

.fund_submit:hover {
  background-color: var(--main-color);
  color: var(--white);
}

.fund_con_list {
  margin-top: 2%;
  border: 1px solid var(--lightgrey);
  margin-bottom: 2%;
  padding-left: 36%;
}

.fund_con_name {
  margin-top: 1%;
  margin-left: -33%;
  font-size: 13px;
}

.fund_con_content {
  margin-top: 2%;
  margin-bottom: 2%;
}

.del_sub {
  width: 70px;
  height: 25px;
  margin-bottom: 1%;
  margin-left: 41%;
  background-color: var(--white);
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: all 0.4s linear;
}

.del_sub:hover {
  background-color: var(--main-color);
  color: var(--white);
}
