a {
    text-decoration: none;
    color: black;
}

.header {
    height: 100px;
    border-bottom: 1px solid #eaebed;
}
.header-wrap {
    width: 1080px;
    margin: 0 auto;
    text-align: left;
}

.hTop {
    display: flex;
    box-sizing: border-box;
    padding: 10px 20px;
}
.hlogo {
    flex-basis: 80%;
}
.hlogoL {
    font-size: 24px;
}
.hTopMenu {
    flex-basis: 20%;
    font-size: 16px;
}

.nav {
    margin: 0 20px;
}
.hTopMenu>span:first-of-type {
    margin-right: 20px;
}
.nav-item {
    display: inline;
    line-height: 2;
}
.nav-item>li {
    display: inline;
    margin-right: 20px;
}
.nav-search {
    width: 300px;
    height: 30px;
    border: 1px solid #14B8FF;
    border-radius: 20px;
    padding-left: 20px;
}
.float-r {
    float: right;
}
.nav-search:focus {

}
.nav-search-btn {
    position: relative;
    right: -670px;
    top: 2px;
    font-size: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.searchF {
    display: contents;
}
a {
    text-decoration: none;
    color: black;
}

.header {
    height: 100px;
    border-bottom: 1px solid #eaebed;
}
.header-wrap {
    width: 1080px;
    margin: 0 auto;
    text-align: left;
}

.hTop {
    display: flex;
    box-sizing: border-box;
    padding: 10px 20px;
}
.hlogo {
    flex-basis: 80%;
}
.hlogoL {
    font-size: 24px;
}
.hTopMenu {
    flex-basis: 20%;
    font-size: 16px;
}

.nav {
    margin: 0 20px;
}
.hTopMenu>span:first-of-type {
    margin-right: 20px;
}
.nav-item {
    display: inline;
    line-height: 2;
}
.nav-item>li {
    display: inline;
    margin-right: 20px;
}
.nav-search {
    width: 300px;
    height: 30px;
    border: 1px solid #14B8FF;
    border-radius: 20px;
    padding-left: 20px;
}
.float-r {
    float: right;
}
.nav-search:focus {

}
.nav-search-btn {
    position: relative;
    right: -670px;
    top: 2px;
    font-size: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.searchF {
    display: contents;
}