.rew_check_header {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  border-radius: 5px;
  border: 1px solid var(--grey);
}

input:focus {
  outline: none;
}

.rew_check_info {
  background-color: var(--info);
  width: 40%;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.rew_category_card {
  width: 94.8%;
  border-radius: 10px;
  border: 1px solid var(--black);
  margin-top: 15px;
  padding-top: 10px;
  padding-left: 54px;
  margin-bottom: 10px;
  cursor: pointer;
}

.right {
  margin-left: 95%;
  font-size: 20px;
  color: var(--main-color);
  cursor: pointer;
}

.rew_sub_content {
  display: flex;
  width: 34%;
  margin-left: -9px;
  margin-top: 6px;
}

.rew_count {
  width: 150px;
}

.rew_content {
  margin-top: 3px;
  font-weight: bold;
}

.rew_content_info {
  margin-top: 4px;
  margin-bottom: 15px;
}

.checkout_header {
  background-color: var(--grey);
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.checkout_processes {
  display: flex;
  justify-content: center;
  width: 19%;
}

.checkout_process {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid var(--black);
  margin-top: 12px;
}

.checkout_line {
  width: 30px;
  border-bottom: 1px solid var(--black);
  margin-bottom: 25px;
}

.card {
  margin-left: 15px;
  margin-top: 14px;
  font-size: 20px;
}

.active {
  color: var(--main-color);
}

.checkout_process_texts {
  display: flex;
  width: 21%;
  margin-top: 10px;
}

.reward_list_titles {
  display: flex;
  width: 100%;
}

.reward_list_title {
  margin-top: 30px;
  margin-left: 6px;
}

.reward_add {
  margin-top: 30px;
  margin-right: 6px;
  color: var(--main-color);
  font-weight: 600;
}

.rew_sub_contents {
  display: flex;
  width: 30%;
  margin-left: -9px;
  margin-top: 6px;
}

.title {
  margin-top: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.phone {
  margin-top: 10px;
}

.phone_num {
  width: 334px;
  height: 25px;
  border: 1px solid var(--grey);
}

.phone_num:focus {
  outline: none;
}

.num_auth {
  width: 70px;
  height: 29px;
  background-color: var(--main-color);
  color: var(--white);
  border: none;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.card_number {
  display: flex;
  width: 25%;
  margin-left: 0%;
}

.card_num {
  margin-right: 10px;
  width: 334px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--grey);
}

.card_pw {
  width: 48px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--grey);
  padding-left: 5px;
}

.card_date {
  display: flex;
  width: 10%;
  margin-left: 0%;
}

.card_date_yy_mm {
  width: 55px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--grey);
  padding-left: 5px;
  margin-right: 10px;
}

.birthday {
  width: 270px;
  height: 25px;
  padding-left: 5px;
}

.period {
  width: 65px;
  height: 25px;
}

select {
  border-radius: 5px;
  border: 1px solid var(--grey);
}

select:focus {
  outline: none;
}

.sub_title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 13px;
}

.check_title {
  font-size: 14px;
}

.complete {
  background-color: var(--main-color);
  color: var(--white);
  margin-top: 10px;
  width: 50%;
  height: 30px;
  border: none;
  cursor: pointer;
}