.mypage-body {
  margin: 0 auto;
  width: 1080px;
}


.mypage-container {
  display: flex;
  margin: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  padding: 0.25%;
  text-align: center;
  background-color: #FFCE50;
}

.subheader a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.subheader a:hover {
  color: white;
}

.section-container {
  display: flex;
  padding: 0.25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #14B8FF;
  color: white;
}

.mypage-table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1%;
  text-align: left;
  box-sizing: content-box;
  vertical-align: middle;
  justify-items: center;
  width: 1060px;
}

.my-settings {
  text-indent: 35%;
}

.profile-image {
  width: 80px;
}

.notifications {
  position: sticky;
  width: 25px;
  left: 75%;
}

.subsection-container {
  display: flex;
  text-align: center;
}

.section-subheader {
  text-align: center;
  padding: 0.25%;
}