.findPwForm {
    width: 350px;
    margin: 70px auto;
    text-align: center;
}
.findIdQ {
    margin: 20px;
    font-size: 14px;
}
.findIdQText {
    color: #9b9b9b;
}
.findIdSearch {
    color: #14B8FF;
}
