.findIdform {
    width: 350px;
    margin: 70px auto;
    /*text-align: center;*/
}
.findTitle {
    margin: 20px 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.findwrap {
    position: relative;
    margin-bottom: 10px;
}
/*.authblank {*/
/*    margin-top: 5px;*/
/*}*/
.findwrap input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    border-width: 1px;
    margin-top: -1px;
    padding-left: 20px;
}
.findwrap input::after {
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
    content: '';
}
.findwrap input:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.findwrap input:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.findwrapTab {
    padding: 10px 50px 0 10px;
    position: relative;
    cursor: pointer;
}
.findwrapTab>p {
    font-size: 12px;
    color: #9b9b9b;
    margin: 5px 0 20px;
}
.findwrap-icon {
    position: absolute;
    top: 18px;
    right: 10px;
    color: #9b9b9b;
}
.findSearch {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #14B8FF;
    color: white;
    border: none;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
}
.loginFormBtn {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #14B8FF;
    color: #14B8FF;
    text-align: center;
}
.authChkBtn {
    position: absolute;
    top: 128px;
    right: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid #14B8FF;
    color: #14B8FF;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.checkSmsBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid #14B8FF;
    color: #14B8FF;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.findIdformWrap {
    margin-bottom: 50px;
}